.navbar{
    width: 100%;
    position: relative;
    top: 0;
    height: fit-content;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.6)
}
.left-elements, .right-elements{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.left-elements{  
    font-weight: bold;
}
.btn-li, .left-elements li, .profile-role{
    display: flex;
    padding: 5px;
    margin: 0 10px;
}
.btn-li{
    border: 2px grey solid;
    border-radius: 15px;
    padding: 6px 20px;
}
.left-elements li, .btn-li{
    cursor: pointer;
}
.navbar ul li a{
    text-decoration: none;
    color: inherit;
}
.logo-icon{
    width: 60px;
    height: 45px;

}
.profile-role{
    margin-right: 15px;
    justify-content: space-between;
    align-items: center;
}
.profile-role span{
    display: flex;
    margin-right: 15px;
    font-weight: bold;
    width: 100%;
}
.profile-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bold;
    border-radius: 20px;
    padding-right: 5px;
    border: 2px solid #2d3748;
}
.profile-btn img{
    width: 35px;
    height: 35px;
    display: flex;
    border-radius: 50%;
}
.left-elem{
    transition: margin-bottom 1s ease ;
    -moz-transition: margin-bottom 1s ease ; /* Firefox 4 */
    -webkit-transition: margin-bottom 1s ease ; /* Safari and Chrome */
    -o-transition: margin-bottom 1s ease ; /* Opera */
    -ms-transition: margin-bottom 1s ease;
}
.left-elem:hover{
    margin-bottom: 20px;
    text-shadow: 1px 20px 5px  #2d3748;
}
.btn-li:hover, .profile-btn:hover{
    background-color: #2d3748;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.right-elements-navbar{
    visibility: hidden;
}
.search-bar{
    width: 10%;
    position: absolute;
    margin: 20px 0 0 0;
}
.search-input{
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #63789c;
}
.search-input:focus{
    outline: none;
    border: 2px solid #9ebff7;
}
.search-res{
    width: 100%;
    margin: 0;
}
.w-100{
    width: 100%;
}
.search-res-ele{
    width: 100%;
    border: 1px solid #2d3748;
    background: rgba(255, 255, 255, 0.9);
    transform: translate(-50px, 0%);
    text-align: center;
}
.search-res-ele{
    transition: padding 1s ease ;
    -moz-transition: padding 1s ease ; /* Firefox 4 */
    -webkit-transition: padding 1s ease ; /* Safari and Chrome */
    -o-transition: padding 1s ease ; /* Opera */
    -ms-transition: padding 1s ease;
}
.search-res-ele:hover{
    background: #2d3748;
    color: white;
    padding: 10px;
}
@media only screen and (max-width: 691px) {
    .right-elements{
        display: none;
    }
    .right-elements-navbar{
        visibility: visible;
    }
    .menu-title .menu-icon{
        margin: 0;
        padding: 0;
    }
}
@media only screen and (max-width: 500px) {
    .navbar{
        margin: 0;
        padding: 0;
    }
    .left-elements{
        display: block;
        margin: 0;
    }
    
}