.Postscontainer{
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: relative;
}
.post{
    margin: 20px auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 20px;
    border-radius: 20px;
    background: white
}
.postsheader{
    display: flex;
}
.panel{
    width: 100%;
}
.img-responsive{ 
    width: 50px; 
    height: 50px;
    border-radius: 50%;
} 
.post-date{
    font-size: small;
}
.post-author{
   font-weight: bold; 
   
}
.text-center{
    text-align: center;
}
.post-content{
    font-size: medium;
}
.text-cente{
    text-align: center;
}
.post-categories{
    display: flex;
}
.category{
    background: #2d3748;
    width: fit-content;
    padding: 7px 15px;
    text-align: center;
    border-radius: 15px;
    color: white;
    margin: auto 5px;
}
.likes-comments{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comments-container{
    width: 100%;
}
.comments-collapse a{
    color: rgb(75, 74, 74);
    text-decoration: none;
    margin-top: 10px;
}
.comment{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}
.comment-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}
.comment-author{
    text-align: center;
    margin: 5px 25px 5px 10px;
    color: darkslategray;
}
.comment-author-photo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.comment-content p{
    margin-left: 5px;
}
.comments-collapse a:hover{
    color: gray;
}
.comment-post{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    margin-top: 10px;
}
.comment-post input{
    padding: 8px 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid grey;
    width: 100%;

}
.comment-post input:focus{
    border: 1px solid grey;
    outline: none; 
}
.comment-send{
    background: none;
    border: 2px solid #787ef5;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
    color: #787ef5;
    text-align: center;
    cursor: pointer;
}
.comment-send:focus-within{
    border: 2px solid #43478d;
    color: #43478d;
}
.comment-date{
    font-size: x-small;
}
.post-likes{
    display: flex;
    margin: 15px 5px 0 0;
}
.img-responsive-like{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.like-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 8px;
    margin: 0 10px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.like-button:focus-within{
    border: 2px solid #43478d;
}
.like{
    background-color: #787ef5;
    border: 2px solid #bbbefa;
}
.dislike{
    background-color: #bbbefa;
    border: 2px solid #787ef5;
}

@media only screen and (max-width: 1000px){
    .Postscontainer{
        width: 70%;
        margin: auto;
    }
    .post{
        margin: 10px 5px;
        padding: 10px;
    }
} 

@media only screen and (max-width: 880px){
    .Postscontainer{
        width: 80%;
        margin: auto;
    }
    .post{
        margin: 10px 5px;
        padding: 10px;
    }
}

@media only screen and (max-width: 640px) {
    .Postscontainer{
        width: 100%;
    }
    .post{
        margin: 5px 0;
        padding: 10px;
    }
    .comment-content{
        display: block;

    }
    .postsheader{
        display: block;
    }
    .panel{
        text-align: center;
    }
}
@media only screen and (max-width: 337px) {
    .post-likes{
        display: block;
    }
    .like-button{
        margin: 5px 0;
    }
}


